
body{
    background-image:url("grunge_wall.png");
    white-space:normal;
}

.container{
    background-color: lightgray;


}

.form-group{
    
    background-color: lightgray;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4%;
  background-color: darkgrey;
  color: white;
  text-align: center;
}



